#modaljs-modals {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10000;

  &.normal {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
  }

  &.slow {
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -ms-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
  }

  &.hidden {
    display: none;
    opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

#modaljs-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity = 70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

#modaljs-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  max-width: 90vw;
  margin: -125px 0 0 -200px;
  box-shadow: 0 2px 5px #333;
  background: #D9D9D9;
  border-radius: 4px;
  font-family: "Avenir Next";
  font-size: 15px;

  &.stickedToTop {
    top: 0;
  }

  &.top {
    top: 20px;
  }

  &.bottom {
    top: auto;
    bottom: 20px;
  }

  &.stickedToBottom {
    top: auto;
    bottom: 0;
  }

  &.medium {
    width: 50%;
  }

  &.big {
    width: 80%;
  }

  > div {
    padding: 15px 20px;
  }
}

#modaljs-modals {
  #modaljs-top, #modaljs-bottom {
    background: #eee;
  }

  &.success {
    #modaljs-modal {
      background: rgb(98, 194, 79);
    }

    #modaljs-top, #modaljs-bottom {
      background: rgb(102, 218, 90);
    }
  }

  &.alert {
    #modaljs-modal {
      background: rgb(194, 185, 79);
    }

    #modaljs-top, #modaljs-bottom {
      background: rgb(218, 216, 90);
    }
  }

  &.warning {
    #modaljs-modal {
      background: rgb(194, 156, 79);
    }

    #modaljs-top, #modaljs-bottom {
      background: rgb(218, 176, 90);
    }
  }

  &.error {
    #modaljs-modal {
      background: rgb(194, 79, 79);
    }

    #modaljs-top, #modaljs-bottom {
      background: rgb(218, 90, 90);
    }

    #modaljs-top-cancel:before, #modaljs-middle, #modaljs-top {
      color: #ddd;
    }
  }
}

.modal_button {
  border: none;
  background: none;
  color: #666;
  font-size: 20px;
  font-family: "Avenir Next";
  font-weight: bold;
  cursor: pointer; 
}

.edit_modal_button {
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  text-align: left;
  font-size: 15px;
  font-family: "Avenir Next";
}

.loc_form {
  text-align: center;
  .new_loc_input {
    width: 70%;
    padding: 10px 10px;
    margin: 10px auto;
    border: 2px solid darkgrey;
    border-radius: 5px;
  }
}

.new_loc_select {
  margin: 10px auto;
  border: 2px solid darkgrey;
  border-radius: 5px;
  height: 38px;
  color: black;
  font-weight: bold;
}

/* modal types */

#modaljs-top {
  border-radius: 4px 4px 0 0;
  min-height: 20px;
  font-weight: bold;
  font-size: 24px;
}

#modaljs-top-cancel {
  position: absolute;
  top: -2px;
  right: 0;
  margin: 15px 20px;
  padding: 0 !important;

  &:before {
    content: 'x';
    padding: 0px 9px 4px 9px;
    background: transparent;
    color: #606060;
    font-weight: 600;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
  }

  &:hover:before {
    background: #DADADA;
    color: #606060 !important;
  }
}

#modaljs-middle {
  text-align: left;
  padding: 15px 30px !important;
}

#modaljs-bottom {
  text-align: center;
  border-radius: 0 0 4px 4px;
}

#modaljs-bottom-cancel {
  border: 0px solid transparent;
  padding: 8px 17px;
  margin-left: 4px;
  background: rgba(6, 6, 6, 0.2);
  color: white;
  border-radius: 2px;
  visibility: hidden;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}

#modaljs-bottom-confirm {
  border: 0px solid transparent;
  padding: 8px 17px;
  width: 100px;
  margin-left: 4px;
  background: rgba(6, 6, 6, 0.2);
  color: white;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  background: rgba(255, 255, 255, 0.6);
  color: #333;
}

#modaljs-modals.modal #modaljs-bottom-confirm {
  color: white;
}

#modaljs-bottom-cancel:hover {
  background: rgba(6, 6, 6, 0.5);
}

#modaljs-bottom-confirm:hover {
  background: rgba(255, 255, 255, 0.9);
}

#modaljs-modals.modal {
  #modaljs-bottom-cancel {
    background: #C1C1C1;
  }

  #modaljs-bottom-confirm {
    background: #8599CD;
  }

  #modaljs-bottom-cancel:hover {
    background: #777;
  }

  #modaljs-bottom-confirm:hover {
    background: #5E6E98;
  }
}

#modaljs-modal.mono {
  #modaljs-top, #modaljs-bottom {
    background: transparent;
  }
}
