.sidebar {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  width: 305px;
  overflow: hidden;
  transition: width 500ms;
  border-radius: 4px;
  z-index: 2000;
  border-right: 1pt solid rgba(127, 127, 127, 0.3);
  box-shadow: 1px 3px 4px -2px rgba(0, 0, 0, 0.35);

  .sidebar-left ~ .sidebar-map {
    margin-left: 0;
    margin-right: 0;
  }

  &.collapsed {
    width: 40px;
  }
}

.gm-style-iw {
  max-width: 200px;
}

.loc_entry {
  display: flex;
  justify-content: space-between;

  .delete_modal_button {
    background: transparent;
    cursor: pointer;
    border: none;
  }
}

@media (min-width: 768px) {
  .sidebar-right {
    right: 15px;
  }
}

.sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
}

.sidebar-left .sidebar-tabs {
  left: 0;
}

.sidebar-right .sidebar-tabs {
  right: 0;
}

.sidebar-tabs {
  position: absolute;
  width: 40px;
  margin: 0;
  padding: 0;
  > {
    ul {
      position: absolute;
      width: 40px;
      margin: 0;
      padding: 0;
    }
    li,
    ul > li {
      width: 100%;
      height: 40px;
      color: #666;
      font-size: 12pt;
      overflow: hidden;
      transition: all 80ms;
    }
    li:hover,
    ul > li:hover {
      color: #000;
      background-color: lightblue;
    }
    li.active,
    ul > li.active {
      color: #000;
      background-color: lightblue;
    }
    li.disabled,
    ul > li.disabled {
      color: rgba(102, 102, 102, 0.4);
    }
    li.disabled:hover,
    ul > li.disabled:hover {
      background: transparent;
    }
    li.disabled > a,
    ul > li.disabled > a {
      cursor: default;
    }
    li > a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 40px;
      color: inherit;
      text-decoration: none;
      text-align: center;
    }
    ul {
      > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: inherit;
        text-decoration: none;
        text-align: center;
      }
      + ul {
        bottom: 0;
      }
    }
  }
}

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-left .sidebar-content {
  left: 40px;
  right: 0;
}

.sidebar-right .sidebar-content {
  left: 0;
  right: 40px;
}

.sidebar.collapsed > .sidebar-content {
  overflow-y: hidden;
}

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px;
  &.active {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-pane {
    min-width: 265px;
  }
}

.sidebar-header {
  margin: -10px -20px 0;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14.4pt;
  color: #000;
  background-color: lightblue;
}

.fa-caret-left {
  margin-top: 10px;
}

.sidebar-right .sidebar-header {
  padding-left: 40px;
}

.sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.sidebar-left .sidebar-close {
  right: 0;
}

.sidebar-right .sidebar-close {
  left: 0;
}


